*.pyc
*.pyo
/*.patch
/.repo/
/build*/
pyshtables.py
pstage/
scripts/oe-git-proxy-socks
sources/
# meta-*/
buildtools/
!meta-skeleton
!meta-selftest
!meta-intel-fpga
!meta-openembedded
!meta-filesystems
!meta-gnome
!meta-initramfs
!meta-multimedia
!meta-networking
!meta-oe
!meta-perl
!meta-python
!meta-webserver
!meta-xfce
!meta-mylayer
!meta-intel-fpga-refdes
hob-imabb
*.swp
*.orig
*.rej
*~
!meta-poky
!meta-yocto
!meta-yocto-bsp
!meta-ke
!meta-yocto-imported
/documentation/*/eclipse/
/documentation/*/*.html
/documentation/*/*.pdf
/documentation/*/*.tgz
/bitbake/doc/bitbake-user-manual/bitbake-user-manual.html
/bitbake/doc/bitbake-user-manual/bitbake-user-manual.pdf
/bitbake/doc/bitbake-user-manual/bitbake-user-manual.tgz
pull-*/
bitbake/lib/toaster/contrib/tts/backlog.txt
bitbake/lib/toaster/contrib/tts/log/*
bitbake/lib/toaster/contrib/tts/.cache/*
bitbake/lib/bb/tests/runqueue-tests/bitbake-cookerdaemon.log
_toaster_clones/
downloads/
sstate-cache/
toaster.sqlite
.vscode/
log
hps.xml
core.rbf
periph.rbf
steps_temp.txt
success_dtsi/
dts_dtsi_network_ok/zImage--6.12.33-lts+git-r15-arria10-20260208194842.bin
.0001-add_ethaddr_into_alias_into_socfpga_arria10_socdk-u-.patch
.0001-edited_two_dts_files.patch
hex_editor.py
layers/meta-intel-fpga/recipes-bsp/u-boot/u-boot-socfpga/.0001-change-in-tools-mtk_image-c.patch
pbx-mtv-508-frontend-4.19_condition_at_08_03.zip
bfg-1.15.0.jar
layers/meta-my-intel-fpga-refdes/
layers/meta-customer/recipes-appl/bitstream/files/
layers/meta-ke/
layers/meta-customer/recipes-hello-world/
layers/meta-customer/recipes-python-banner/
layers/meta-customer/COPYING.MIT
layers/meta-customer/README
layers/meta-ke/recipes-example/files/this.patch
layers/meta-ke/recipes-example/example/.example_0.1.bbappend
layers/meta-ke/recipes-example/example/.example_0.1.bbappend
layers/meta-ke/recipes-example/example/.example_0.1.bbappend
layers/meta-ke/recipes-example/example/example_0.1.bb
layers/meta-ke/recipes-example/example/new_example_0.1
layers/meta-ke/recipes-example/files/.my_patch.patch
layers/meta-ke/recipes-example/files/this.patch
layers/meta-mylayer/recipes-apps/hello-world/hello-world_1.0.bb
layers/meta-mylayer/recipes-apps/hello-world/files/hello-world.c
bitstream
layers/meta-openembedded/meta-gnome/dynamic-layers/meta-security/recipes-gnome/gnome-remote-desktop/gnome-remote-desktop_48.0.bb
layers/meta-openembedded/meta-gnome/dynamic-layers/meta-virtualization/recipes-gnome/gnome-boxes/gnome-boxes_48.0.bb
layers/meta-ke/COPYING.MIT
layers/meta-ke/README
!/layers/meta-openembedded/meta-oe/recipes-graphics/ttf-fonts/ttf-roboto_2.138.bb
!layers/meta-openembedded/meta-oe/recipes-graphics/ttf-fonts/ttf.inc
layers/meta-customer/recipes-appl/application/files/30_03_app-4.14.0.tar.xz
a10_v_angular.tar.gz
layers/meta-customer/recipes-appl/application/files/.0001-change_gpio_board_config_to_533.patch
layers/meta-customer/recipes-appl/application/files/.0001-corrected_gpio_path_m26.patch
layers/meta-customer/recipes-appl/application/files/.0001-gpio_modification_from_508_to_5161.patch
natives_gpio.txt
core-image-minimal-arria10.rootfs-20260402211126.wic.gz
0001-fourth_try_to_configure_eth_iface.patch
layers/meta-intel-fpga/recipes-kernel/linux/config/0001-i2c-drivers-indtsi-ok-second.patch
layers/meta-intel-fpga/recipes-kernel/linux/config/0001-i2c-drivers-in-dtsi-ok.patch
layers/meta-intel-fpga/recipes-kernel/linux/config/.0001-test-add-two-change.patch
layers/meta-intel-fpga/recipes-kernel/linux/config/0001-join-netconfig-i2c-dtsi-ok.patch
layers/meta-intel-fpga/recipes-kernel/linux/config/0001-second-try-netconfig-i2c-ok.patch
layers/meta-intel-fpga/recipes-kernel/linux/config/devtool-fragment.cfg