// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2015 Altera Corporation <www.altera.com>
 */
#include "socfpga_arria10.dtsi"

/ {
	model = "Altera SOCFPGA Arria 10";
	compatible = "altr,socfpga-arria10-socdk", "altr,socfpga-arria10", "altr,socfpga";

	aliases {
		ethernet0 = &gmac2;
		serial0 = &uart1;
	};

	chosen {
		bootargs = "earlyprintk";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		name = "memory";
		device_type = "memory";
		reg = <0x0 0x40000000>; /* 1GB */
	};

	/*с этой версией dtsi ьщдуль благополучно загрузился на старте*/
	/* Резервируем блок строго непрерывной памяти под двойной буфер */
	
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		vmsgdma_cma_region: vmsgdma_cma@0 {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x01000000>; /* ИСПРАВЛЕНО: Ровно 16 МБ под Double Buffering */
			alignment = <0x00001000>; /* Выравнивание по границе страницы (4КБ) */
		};
	};


		/* Обратите внимание: базовые #address-cells и #size-cells для корня 
	   уже определены внутри socfpga_arria10.dtsi, дублировать их тут не нужно */
	soc {
		clkmgr@ffd04000 {
			clocks {
				osc1 {
					clock-frequency = <25000000>;
				};
			};
		};

		/* ИСПРАВЛЕНО: адрес в имени узла переведен в нижний регистр */
		mtv_overlay: overlay@ff204a00 {
			compatible = "pfrt,overlay";
			reg = <0xFF204A00 0x0030>;
			memory-region = <&vmsgdma_cma_region>; /* Связка с CMA */
			status = "okay";
		};

		/*overlay@0xFF204A00 {
			compatible = "pfrt,overlay";
			reg = <0xFF204A00 0x0030>;
			interrupts = <0x0 0x28 0x4>;
		};*/

		strmem {
			compatible = "pfrt,str-mem";
				reg =   <0xFF200000 0x80>,  // REG_HDMI_OUT
				<0xFF200100 0x80>,   // REG_MOSAIC
				<0xFF200200 0x80>,   // REG_FRAMEBUFFER_0
				<0xFF200300 0x80>,   // REG_FRAMEBUFFER_1
				<0xFF200400 0x80>,   // REG_FRAMEBUFFER_2
				<0xFF200500 0x80>,   // REG_FRAMEBUFFER_3
				<0xFF200600 0x80>,   // REG_FRAMEBUFFER_4
				<0xFF200700 0x80>,   // REG_FRAMEBUFFER_5
				<0xFF200800 0x80>,   // REG_FRAMEBUFFER_6
				<0xFF200900 0x80>,   // REG_FRAMEBUFFER_7
				<0xFF200A00 0x80>,   // REG_FRAMEBUFFER_8
				<0xFF200B00 0x80>,   // REG_FRAMEBUFFER_9
				<0xFF200C00 0x80>,   // REG_FRAMEBUFFER_10
				<0xFF200D00 0x80>,   // REG_FRAMEBUFFER_11
				<0xFF200E00 0x80>,   // REG_FRAMEBUFFER_12
				<0xFF200F00 0x80>,   // REG_FRAMEBUFFER_13
				<0xFF201000 0x80>,   // REG_FRAMEBUFFER_14
				<0xFF201100 0x80>,   // REG_FRAMEBUFFER_15
				<0xFF201200 0x80>,   // REG_SDI_ADAPTER
				<0xFF201300 0x80>,   // REG_CVI_0
				<0xFF201400 0x80>,   // REG_SCALER_0
				<0xFF201500 0x80>,   // REG_CVI_1
				<0xFF201600 0x80>,   // REG_SCALER_1 
				<0xFF201700 0x80>,   // REG_CVI_2
				<0xFF201800 0x80>,   // REG_SCALER_2
				<0xFF201900 0x80>,   // REG_CVI_3
				<0xFF201A00 0x80>,   // REG_SCALER_3
				<0xFF201B00 0x80>,   // REG_CVI_4
				<0xFF201C00 0x80>,   // REG_SCALER_4
				<0xFF201D00 0x80>,   // REG_CVI_5
				<0xFF201E00 0x80>,   // REG_SCALER_5
				<0xFF201F00 0x80>,   // REG_CVI_6
				<0xFF202000 0x80>,   // REG_SCALER_6
				<0xFF202100 0x80>,   // REG_CVI_7
				<0xFF202200 0x80>,   // REG_SCALER_7
				<0xFF202300 0x80>,   // REG_CVI_7a
				<0xFF202400 0x80>,   // REG_SCALER_7a
				<0xFF202500 0x80>,   // REG_CVI_8
				<0xFF202600 0x80>,   // REG_SCALER_8
				<0xFF202700 0x80>,   // REG_CVI_9
				<0xFF202800 0x80>,   // REG_SCALER_9
				<0xFF202900 0x80>,   // REG_CVI_10
				<0xFF202A00 0x80>,   // REG_SCALER_10
				<0xFF202B00 0x80>,   // REG_CVI_11
				<0xFF202C00 0x80>,   // REG_SCALER_11
				<0xFF202D00 0x80>,   // REG_CVI_12
				<0xFF202E00 0x80>,   // REG_SCALER_12
				<0xFF202F00 0x80>,   // REG_CVI_13
				<0xFF203000 0x80>,   // REG_SCALER_13
				<0xFF203100 0x80>,   // REG_CVI_14
				<0xFF203200 0x80>,   // REG_SCALER_14
				<0xFF203300 0x80>,   // REG_CVI_15
				<0xFF203400 0x80>,   // REG_SCALER_15
				<0xFF203500 0x80>,   // REG_BUILDID
				<0xFF203600 0x80>,   // REG_BARS
				<0xFF203700 0x80>,   // REG_AUDIO_SELECTOR
				<0xFF203800 0x80>,   // REG_MOTION_0
				<0xFF203900 0x80>,   // REG_MOTION_1
				<0xFF203A00 0x80>,   // REG_MOTION_2
				<0xFF203B00 0x80>,   // REG_MOTION_3
				<0xFF203C00 0x80>,   // REG_MOTION_4
				<0xFF203D00 0x80>,   // REG_MOTION_5
				<0xFF203E00 0x80>,   // REG_MOTION_6
				<0xFF203F00 0x80>,   // REG_MOTION_7
				<0xFF204000 0x80>,   // REG_MOTION_8
				<0xFF204100 0x80>,   // REG_MOTION_9
				<0xFF204200 0x80>,   // REG_MOTION_10
				<0xFF204300 0x80>,   // REG_MOTION_11
				<0xFF204400 0x80>,   // REG_MOTION_12
				<0xFF204500 0x80>,   // REG_MOTION_13
				<0xFF204600 0x80>,   // REG_MOTION_14
				<0xFF204700 0x80>,   // REG_MOTION_15
				<0xFF204800 0x80>,   // REG_DEI
				<0xFF204900 0x80>   // REG_SDI_CVO		
				;		
		};
	};
};

&gmac2 {
	phy-mode = "rgmii-id";
	phy-addr = <0xffffffff>; /* probe for phy addr */	
	status = "okay";
};

&gpio1 {
	status = "okay";
};

/****************** описасние шины i2c0, идущей непосредственно от HPS ******************
	на ней находятся:
		коммутатор x4 pca9546 D21 (mux@71)
		преобразователь i2с->spi для общенис с микросхемой gs12170 (4K HDMI OUT) sc18is602b D43 (spi-bridge@28)
		контроллер HDMI SN75DP159 (управляем из приложения, здесь в списке нет)
		температурный сенсор SA56004 D16 (temp-sensor@48)

	каждое устройтсво в дереве имеет параметр reg, это непосредственно адрес конкретного устройства на шине
****************************************************************************************/
&i2c0 {
	status = "okay";
	/*
	 * adjust the falling times to decrease the i2c frequency to 50Khz
	 * because the LCD module does not work at the standard 100Khz
	 */
	clock-frequency = <100000>;
	i2c-sda-falling-time-ns = <6000>;
	i2c-scl-falling-time-ns = <6000>;

	/****************** коммутатор x4 pca9546 D21 mux@71 ******************/
	/*преключает i2c на одну из 4 шин. Каждая шина обозначается как i2c@num, 
	где num - номер шины*/
	mux@71 {
		compatible = "nxp,pca9546";
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;

		/****************** описание 1-й шины mux@71 ******************/
		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			/*********** gpio контроллер 1 на 16 пинов(на втором этаже) ***********/
			pca9555a: pca9555@20 {
				compatible = "nxp,pca9555";
				gpio-controller;
				#gpio-cells = <16>;
				reg = <0x20>;
			};

			/*********** gpio контроллер 2 на 16 пинов (на втором этаже) ***********/
			pca9555b: pca9555@21 {
				compatible = "nxp,pca9555";
				gpio-controller;
				#gpio-cells = <16>;
				reg = <0x21>;
			};
		};
		/****************** описание 2-й шины mux@71 ******************/
		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			/************** часы bq32000 D18 **************/
			bq32000: rtc@68 {
				compatible = "ti,bq32000";
				trickle-resistor-ohms = <1120>;
				reg = <0x68>;
			};

			/************** датчик температуры LM75 D22 **************/
			lm75@49 {
				reg = <0x49>;
				compatible = "national,lm75b";
			};

			/************** измеритель тока ina219 D68 **************/
			ina219@40 {
				compatible = "ti,ina219";
				reg = <0x40>;
				shunt-resistor = <55000>;
			};

			/*********** gpio контроллер 2 на 4 пина, похоже контроль вентляторов D75 ***********/
			pca9536: pca9536@41 {
				compatible = "nxp,pca9536";
				gpio-controller;
				#gpio-cells = <4>;
				reg = <0x41>;
			};
		};
		/****************** описание 3-й шины mux@71 ******************/
		/*на этой шине висит много sdi драйверов lmh0397/1297 и др. Будем работать
		с ними из нашего приложения*/
		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};
		/****************** описание 4-й шины mux@71 ******************/
		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};

	/****************** преобразователь i2с->spi для общенис с микросхемой gs12170 (4K HDMI OUT) sc18is602b D43 (spi-bridge@28) ******************/
	spi-bridge@28 {
        compatible = "nxp,sc18is602b";
        reg = <0x28>;
        #address-cells = <1>;
        #size-cells = <0>;

		spi_dev@0 {
            compatible = "rohm,dh2228fv"; // или "linux,spidev"
            reg = <0>; // Chip Select 0
            spi-max-frequency = <1000000>;
        };

		spi_dev@1 {
            compatible = "rohm,dh2228fv"; // или "linux,spidev
            reg = <1>; // Chip Select 1
            spi-max-frequency = <1000000>;
        };
	};

	/****************** температурный сенсор SA56004 D16 (temp-sensor@48) ******************/
	temp-sensor@48 {
        compatible = "nxp,sa56004";
        reg = <0x48>;
    };
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&watchdog1 {
	status = "okay";
};
